body {
    margin: auto;
    font-family: 'Smythe', cursive;
    user-select:none;
}

body, .header-image, .image-container{
    width:60vw;
    min-width:550px;
}

/* Constant Header section */

.image-container{
    position:relative;
    height:25vh;
    overflow:hidden;
}

.header-image{
    height:167px;
    object-fit:cover;
    object-position:-30% 65%;
}

.header-text{
    position:absolute;
    top:1vh;
    left:4vw;
}

.header-h1{
    font-size:39px;
}

.header-h3{
    font-size:22.4px;
    margin-top: -25px;
}

.header-text, .header-h3{
    color:whitesmoke;
}


/* text */

h3{
    font-size:16px;
    color:#8B8B8B;
}

.h3-added{
    text-align: center;
    padding-top:20px;
    font-size:10px;
}

span{
    font-size:100px;
}

.close-button, .h1-thanks{
    color:red;
}

.h1-thanks{
    position:absolute;
    display:inline-block;
    white-space: nowrap;
}

.h3-added{
    text-align: center;
    padding-top:20px;
    font-size:10px;
}

.h2-center{
    text-align: center;
    padding-top:20px;
}

.h2-payment{
    color:black;
    text-align:center;
}

.h2-added{
    text-align: end;
}

.color{
    border:1px solid ;
    height:1200px;
    color:#F5F5F5;
    position:relative;
    min-width:550px;
}

.flex-content{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust the width as needed */
    color:black;
}

.flex-text{
    width:30vw;
    min-width: 300px;
}

.menu-point{
    position:relative;
    display:flex;
    border-bottom:1px solid #cac6c6;
    min-width:500px;
}

.hidden{
    display: none;
}

.no-pointer{
    pointer-events:none;
}

.order-box{
    position:absolute;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    width:80%; /* Adjust the width as needed */
    min-width: 500px;
    border-bottom: 1px solid black;
    color:black;    
}

.order-input{
    display:flex;
    justify-content:space-between;
    min-width: 500px;
}

.order-input>*{
    flex:1;
}

.total{
    position:absolute;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:80%; /* Adjust the width as needed */
    color:rgb(8, 8, 8);
}

.modal, .h1-thanks {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal{
    position:absolute;
    min-width:350px;
    min-height:205px;
    background-color:white;
}

.shadow{
    box-shadow: 0 0px 60px rgba(0, 0, 0, 0.6);
}

.flex{
    display:flex;
    justify-content: space-between;
}

input{
    display:block;
    margin:10px auto;
    width:300px;
    height:40px;
    padding-left:10px;
}

input.input-empty{
    border-color:red;
}

.confirm{
    width:100%;
    border:none;
    padding:15px;
    margin:auto;
    background-color:#16DB99;
    display:inline-block;
}

#complete-payment{
    width:90%;
    margin-left:4.75%;
    margin-bottom:3%;
}

/* buttons */

.add-button{
    position:absolute;
    top:38%;
    right:5%;
    border:none;
    border:1px solid #cac6c6;
    border-radius: 50px;
    height:40px;
    width:40px;
    outline:none;
    box-shadow:0;
    color:grey;
}

.remove-button{
    margin-right:10px;
    border:none;
    font-size:10px;
    padding-top:10px;
}

.close-button{
    position:absolute;
    top:1%;
    right:1%;
    border:none;
    text-align:center;
    border-radius: 50px;
    height:18px;
    width:18px;
    margin:auto;
    outline:none;
    box-shadow:0;
}

.add-button, .remove-button, .close-button{
    background-color: transparent;
}

button:active {
    border-style: none;
}

